@tailwind base;
@tailwind components;
@tailwind utilities;
  
* {
  scrollbar-color: initial;
  scroll-behavior: smooth;
  }

html{
  scroll-behavior: smooth;
}  
:root{
  --header-background-color:#ff42b0;
  --border-color: #202459;
  --background-hover-color: #4149b4;
  --background-link-color: #202459;
}
.header{
    @apply flex items-center justify-center sm:justify-between px-40 py-6
  }
.login-link{
    @apply border border-[var(--border-color)] shadow-md rounded-lg py-3 px-4 text-xl text-[var(--background-link-color)] hover:bg-[var(--background-link-color)] hover:text-white
  }
.boards-create{
    @apply border border-[var(--border-color)] shadow-md hover:bg-[var(--background-link-color)] text-xl text-[var(--background-link-color)] py-3 px-4  rounded-lg  hover:text-white
  }
.occasion, .other-occasion {
    @apply rounded-xl shadow-xl mx-5 text-center pt-10 mt-4
  }
.occasion h1{
    @apply text-3xl font-light text-white
  }
.occasion div > p{
    @apply text-lg font-light mt-2 text-white
  }
.occasion > p{
    @apply text-xl font-light mt-2 text-white
  }
.occasion-image{
    @apply mt-6 rounded-bl-xl rounded-br-xl object-cover 
  }
.step{
    @apply sm:text-2xl text-xl 
  }
.step-process{
    @apply sm:text-xl text-lg
  }

.one, .two, .three{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
    height: 400px;
    color: var(--background-link-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 2rem;
    border: 1px solid var(--background-link-color);
  }

.process-img{
  @apply w-32 sm:w-40
}

.separator{
    align-items: center;
    color: #dadcdf;
    display: flex;
    font-size: .9rem;
    font-weight: 500;
    margin: 20px 0;
    text-align: center;
}

.separator:before, .separator:after{
    border-bottom: 1px solid #dadcdf;
    content: "";
    flex: 1;
    margin-inline: 5px;
}

.menu-items{
    @apply mt-2 border-l-4 flex  items-center ps-4 mx-4 border-[var(--border-color)]  bg-[#e4f6fc] rounded-md py-3
}

.menu-items > p{
    font-size: 16px;
    color: grey;
}

  /* file uploader */

.file-uploader .upload-input {
    max-width: 190px;
    display: none;
}
  
.file-uploader .labelFile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    height: 150px;
    align-items: center;
    text-align: center;
    color: #404040;
    cursor: pointer;
}

.edit-board .upload-input{
    max-width: 190px;
    display: none;
}

.edit-board .labelFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  height: 150px;
  align-items: center;
  text-align: center;
  color: #404040;
  cursor: pointer;
}

.option{
    @apply w-64 py-10 mx-2 cursor-pointer mt-3 bg-white hover:bg-[#dadcdf] p-5 flex flex-col items-center justify-between shadow-md rounded-lg
}

.option > p{
    @apply mt-4 text-xl w-40 text-ellipsis overflow-hidden whitespace-nowrap text-center
}

.occasion-img{
    @apply object-cover w-full h-full
}

/* DRAWER */
.preview-drawer-div::-webkit-scrollbar {
  width: 8px;
}

.preview-drawer-div::-webkit-scrollbar-track {
  display: none;
}

.preview-drawer-div::-webkit-scrollbar-thumb {
  background-color: rgb(199, 198, 198);
  border-radius: 100px;   
}

#drawer {
  @apply xl:h-[90vh] 2xl:h-[60vh] 
}

/* _________________ */

.gifs::-webkit-scrollbar {
    width: 8px;
}
  
.gifs::-webkit-scrollbar-track {
    display: none;
}
  
.gifs::-webkit-scrollbar-thumb {
    background-color: rgb(199, 198, 198);
    border-radius: 100px;   
}

.splashImages-container::-webkit-scrollbar {
    width: 8px;
}
  
.splashImages-container::-webkit-scrollbar-track {
    display: none;
}
  
.splashImages-container::-webkit-scrollbar-thumb {
    background-color: rgb(142, 142, 142);
    border-radius: 100px;   
} 

.board-next-button{
    @apply btn glass  hover:bg-[#2a9d8f] bg-[#2a9d8f] w-5/12 px-5 text-white rounded-lg shadow-lg text-xl font-medium
}
  
.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1; 
    width: 350px;
    top: 0; 
    right: 0;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
}

.preview-posts{
  width: 400px;
}

.post-image{
  width: 100%;
  height: auto;
}

.preview-image, .preview-gif, .preview-video{
  width: 100%;
}

.image-container {
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
}

.img {
  padding: 4px;
  width: 250px;
  height: 320px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(38, 140, 128, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-button {
  transition: background-color 0.3s ease;
  color: white;
  border: 2px solid rgb(38, 140, 128);
  padding: 0px 24px;
  background-color: rgb(38, 140, 128);
  border: 2px solid white;
  font-weight: 500;
}

.overlay-button:hover{
  background-color: rgb(38, 140, 128);
  border: 2px solid white;
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container:hover .img {
  opacity: 0.7;
  border: 3px solid black;
}

.youtube-video{
  width: 100%;
  height: 200px;
}
.post-gif{
  width: 100%;
  height: 370px;
}
.unsplash-image{
  width: 100%;
  height: 370px;
}

/* BACKGROUND */

#previews {
  width: 100%;
  height: 100%;
  background-color: rgba(209, 250, 229);
  background-image: radial-gradient(rgb(133, 250, 190) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px
}

.p-stepper-number{
  color: white;
  background-color: #FF9669;
}
.p-stepper-title{
  font-size: 20px;
  color: black;
}
.p-stepper-toggleable-content {
  border-radius: 0.5rem
}
.p-stepper-separator{
  background-color: #FF9669;
}
.p-button {
  background-color: #FF9669;
  color: white;
  padding:  5px 10px;
}
.p-stepper-panel:last-child{
  display: none;
}

.occasion-title {
  background: linear-gradient(to right, hsl(0, 0%, 100%) 5%, rgb(7, 235, 204) 10%, hsl(0, 0%, 100%) 5%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.css-1b00oyk-MuiLinearProgress-root.MuiLinearProgress-colorPrimary{
    background-color: #facdb9 !important;
}

@media screen and (max-width:850px) {
    .post-image, .preview-posts{
        width: 300px;
      }
      .message > p{
        font-size: 14px;
      }
    }

@media screen and (max-width:650px) {
  .post-image, .preview-posts{
      width: 250px;
    }
  }

@media screen and (max-width:1090px) {
    .selected-title{
      margin-top: 8rem;
    }
  }

@media screen and (max-width:1000px) {
  .selected-title{
    margin-top: 8rem;
  }
}

@media screen and (max-width:792px) {
  .selected-title{
    margin-top: 10rem;
  }
}

@media screen and (max-width:718px) {
  .selected-title{
    margin-top: 12rem;
  }
  .preview-board-create-btn{
    padding: 0px 60px;
    font-size: 20px;
  }
}

@media screen and (max-width:658px) {
  .selected-title{
    margin-top: 12rem;
  }
  .preview-board-create-btn{
    padding: 0px 60px;
    font-size: 20px;
  }
}

@media screen and (max-width:656px) {
  .selected-title{
    margin-top: 12rem;
  }
}

@media screen and (max-width:423px) {
  .selected-title{
    margin-top: 13rem;
  }
}

@media screen and (max-width:418px) {
  .selected-title{
    margin-top: 14.5rem;
  }
}
  

