@tailwind base;
@tailwind components;
@tailwind utilities;
  
* {
  scrollbar-color: initial;
  scroll-behavior: smooth;
  }

html{
  scroll-behavior: smooth;
}  
:root{
  --header-background-color:#ff42b0;
  --border-color: #202459;
  --background-hover-color: #4149b4;
  --background-link-color: #202459;
}
.hero-section{
  @apply absolute w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]
}
.main-parent{
  @apply sm:w-[660px] xl:w-[900px] mx-auto mt-6 flex flex-col items-center text-center justify-center
}
.main-heading{
  @apply text-2xl sm:text-3xl md:text-5xl xl:text-6xl font-bold px-5 lg:leading-[50px] xl:leading-[65px]
}
.main-cta{
  @apply mt-8 btn bg-[#2a9d8f] btn-md sm:btn-lg  sm:text-xl font-medium text-white hover:bg-white border hover:text-[#2a9d8f] hover:border-[#2a9d8f]
}
#how-to{
  @apply mt-20 rounded-lg mx-6 text-center bg-emerald-100 py-16
}
.how-to-heading{
  @apply text-4xl sm:text-5xl my-3 text-black font-semibold
}
.how-to-image-div{
  @apply relative px-2 w-[580px] flex items-start text-start justify-start flex-col
}
.how-to-img{
  @apply absolute z-0 opacity-20  bottom-32 lg:bottom-32 xl:bottom-60
}
.how-to-p-1{
  @apply text-2xl sm:text-3xl md:text-4xl text-black font-bold mt-6
}
.how-to-p-2{
  @apply text-lg sm:text-xl md:text-2xl font-semibold mt-8 text-black
}
.how-to-cta{
  @apply mt-6 btn bg-[#2a9d8f] btn-md sm:btn-lg sm:text-xl font-medium text-white border hover:bg-transparent hover:text-[#2a9d8f] hover:border-[#2a9d8f]
}
#previews{
  @apply mt-16 py-16 flex items-center justify-center flex-col rounded-lg
}
.previews-heading{
  @apply text-3xl sm:text-5xl my-4 text-black font-semibold
}
.previews-p{
  @apply sm:text-2xl text-black font-semibold sm:font-medium mt-4
}
.preview-button{
  @apply btn bg-white w-52 border border-gray-500 outline-none rounded-lg text-gray-600 text-xl font-semibold hover:bg-white hover:shadow-xl hover:border-gray-500
}
.board-creator{
  @apply flex items-center justify-center mt-10 2xl:mt-32 mx-2
}
.decrement-step-button{
  @apply max-sm:hidden me-2 bg-gray-200 shadow-md btn btn-circle text-black
}
.board-creator-input{
  @apply input border-2 w-10/12 mt-5 border-gray-300 rounded-lg outline-none px-4
}
.board-create-button{
  @apply max-sm:hidden btn glass hover:bg-[#2a9d8f] bg-[#2a9d8f] font-medium lg:w-5/12 mt-8  text-white rounded-lg shadow-lg text-lg sm:text-lg
}
.board-create-btton-mbl{
  @apply btn glass hover:bg-[#2a9d8f] bg-[#2a9d8f] font-medium lg:w-5/12 text-white rounded-lg shadow-lg text-lg sm:text-lg
}

/* BOARD SCREEN */

.board-screen{
  @apply min-h-screen w-full bg-fixed bg-no-repeat bg-center bg-cover transition-all ease-linear
}
.nav-bar{
  @apply bg-white pe-3 py-3 flex flex-wrap items-center justify-between fixed top-0 right-0 left-0 z-50  
}
.add-a-post-button{
  @apply btn btn-sm bg-[#2a9d8f] font-normal text-white border-none  hover:bg-[#34bdad]
}
.pop-up{
  @apply bg-white m-0 px-2 border-gray-300 h-8 border rounded-lg outline-none
}
.copy{
  @apply hover:bg-gray-100 flex items-center justify-start cursor-pointer rounded-md p-2
}
.customise{
  @apply hover:bg-gray-100 flex items-center justify-start  mt-2 cursor-pointer rounded-md p-2
}
.delete{
  @apply bg-red-500 hover:bg-red-500 cursor-pointer flex items-center justify-start  mt-2 rounded-md p-2 hover:border-red-700 border-red-700 text-white 
}
.title-teaxtarea{
  @apply focus:border-b border-black text-xl md:text-2xl lg:text-3xl outline-none text-center bg-transparent text-black hover:text-black cursor-pointer overflow-hidden w-full
}
.edit-button{
  @apply absolute top-16 sm:top-10 text-black text-xl cursor-pointer
}
.user-posts{
  @apply col-span-12 md:col-span-6 w-[330px] sm:w-[450px] md:w-[380px] lg:w-[320px] xl:w-[410px]  lg:col-span-4 mt-3 bg-[#2a9d8f] mx-2 rounded-lg shadow-md
}
.welcome-modal{
  @apply w-full h-screen flex items-start mt-10 2xl:mt-32 justify-center
}
.welcome-modal-child{
  @apply bg-white flex text-center items-center shadow-lg rounded-md justify-start flex-col mx-2
}
.close-button{
  @apply flex self-end me-2 mt-2 text-black text-lg hover:bg-slate-200 p-2 rounded-md
}
.add-your-post-cta{
  @apply btn hover:bg-[#2a9d8f] bg-[#2a9d8f] text-white mt-6 border border-none px-6 sm:px-10 py-1 sm:py-2 rounded-md sm:text-xl font-light
}
.create-board-button{
  @apply animate-pulse p-3 rounded-full text-2xl btn border-none hover:bg-[#FF9669] font-medium text-white bg-[#FF9669]  cursor-pointer tooltip tooltip-left fixed bottom-3 right-3
}
.customise-board-side-bar{
  @apply transition-all duration-700 rounded-md flex text-center mt-4 items-center justify-center p-1 mx-2 bg-gray-100
}
.background-image, .background-color{
  @apply py-1 rounded-md text-sm font-semibold flex-1 cursor-pointer transition-all ease-linear
}
.animated-modal{
  @apply bg-slate-900/20 backdrop-blur p-8 fixed inset-0 z-50 grid place-items-center overflow-y-scroll cursor-pointer
}
.animated-modal-div{
  @apply bg-gradient-to-br from-[#FF6150] to-[#FF9669] text-white p-6 rounded-lg w-full max-w-lg shadow-xl cursor-default relative overflow-hidden
}
.animated-modal-icon{
  @apply bg-[#FF9669] w-16 h-16 mb-2 rounded-full text-3xl text-white grid place-items-center mx-auto
}
.unsplash-image-search-input{
  @apply mt-3 text-black outline-none px-3 py-3 rounded-md bg-transparent text-sm border border-gray-400 w-full
}
.unsplash-image-section{
  @apply flex my-3 splashImages-container flex-wrap overflow-auto items-start justify-center
}
.unsplash-section-image{
  @apply btn p-0 m-0 border-none bg-transparent hover:bg-transparent h-full w-full 
}
.unsplash-load-more-button{
  @apply border text-sm my-1 px-2 py-1 rounded-md border-black text-black
}

/* POST CREATION */

.post-modal-parent{
  @apply w-[650px] bg-white mt-5 2xl:mt-20 py-8 rounded-lg border-2 h-auto mx-2
}
.uploading-section{
  @apply flex flex-col items-center justify-center mt-5
}
.uploading-section-buttons{
  @apply flex items-center justify-center flex-wrap space-x-2 md:space-x-5
}
.add-an-image-btn{
  @apply flex items-center justify-center mt-2 hover:bg-transparent hover:border-indigo-600 font-semibold bg-transparent border-indigo-600 text-indigo-600 border rounded-lg outline-none py-3 px-3
}
.upload-image{
  @apply hover:bg-indigo-100 flex items-center justify-start cursor-pointer rounded-md p-2
}
.search-image{
  @apply hover:bg-indigo-100 flex items-center justify-start mt-2 cursor-pointer rounded-md p-2
}
.add-a-gif-btn{
  @apply flex items-center mt-2 justify-center hover:bg-transparent hover:border-pink-600 font-semibold bg-transparent border-pink-600 text-pink-600 border rounded-lg outline-none py-3 px-3
}
.upload-gif{
  @apply hover:bg-pink-100 flex items-center justify-start cursor-pointer rounded-md p-2
}
.search-gif{
  @apply hover:bg-pink-100 flex items-center justify-start mt-2 cursor-pointer rounded-md p-1 md:p-2
}
.youtube-btn{
  @apply mt-2 flex items-center justify-center font-semibold rounded-lg outline-none border border-red-700 text-red-700 bg-transparent hover:bg-transparent hover:border-red-700 py-3 px-3
}
.message-textarea{
  @apply w-full border-2 text-lg mt-3 outline-none px-4 py-5
}
.create-post-btn{
  @apply mt-4 sm:text-xl font-medium text-white px-14 py-3 rounded-lg
}
.animated-error-modal{
  @apply bg-slate-900/20 backdrop-blur p-8 fixed inset-0 z-50 grid place-items-center overflow-y-scroll cursor-pointer
}
.animated-error-modal-child{
  @apply bg-gradient-to-br from-red-400 to-red-700 text-white p-6 rounded-lg w-full max-w-lg shadow-xl cursor-default relative overflow-hidden
}
.animated-error-modal-icon{
  @apply bg-red-400 w-16 h-16 mb-2 rounded-full text-3xl text-red-600 grid place-items-center mx-auto
}
.animated-error-modal-close-btn{
  @apply bg-transparent hover:bg-white/10 transition-colors text-white font-semibold w-full py-2 rounded
}
.animated-error-modal-premium-btn{
  @apply bg-white  transition-opacity text-red-600 font-semibold w-full py-2 rounded tooltip tooltip-top
}

.header{
    @apply flex items-center justify-between px-8 sm:px-40 py-6
  }
.login-link{
    @apply btn btn-md bg-white text-lg font-light border hover:border-[#2a9d8f] border-[#2a9d8f] rounded-lg hover:bg-white text-[#2a9d8f]
}
.boards-create{
    @apply border border-[var(--border-color)] shadow-md hover:bg-[var(--background-link-color)] text-xl text-[var(--background-link-color)] py-3 px-4  rounded-lg  hover:text-white
  }
.occasion, .other-occasion {
    @apply rounded-xl shadow-xl mx-5 text-center pt-10 mt-4
  }
.occasion h1{
    @apply text-3xl font-light text-white
  }
.occasion div > p{
    @apply text-lg font-light mt-2 text-white
  }
.occasion > p{
    @apply text-xl font-light mt-2 text-white
  }
.occasion-image{
    @apply mt-6 rounded-bl-xl rounded-br-xl object-cover 
  }
.step{
    @apply sm:text-2xl text-xl 
  }
.step-process{
    @apply sm:text-xl text-lg
  }

.one, .two, .three{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
    height: 400px;
    color: var(--background-link-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 2rem;
    border: 1px solid var(--background-link-color);
  }

.process-img{
  @apply w-32 sm:w-40
}

.menu-items{
    @apply mt-2 border-l-4 flex  items-center ps-4 mx-4 border-[var(--border-color)]  bg-[#e4f6fc] rounded-md py-3
}

.menu-items > p{
    font-size: 16px;
    color: grey;
}

  /* file uploader */

.file-uploader .upload-input {
    max-width: 190px;
    display: none;
}
  
.file-uploader .labelFile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    height: 150px;
    align-items: center;
    text-align: center;
    color: #404040;
    cursor: pointer;
}

.edit-board .upload-input{
    max-width: 190px;
    display: none;
}

.edit-board .labelFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  height: 150px;
  align-items: center;
  text-align: center;
  color: #404040;
  cursor: pointer;
}

.option{
    @apply w-64 py-10 mx-2 cursor-pointer mt-3 bg-white hover:bg-[#dadcdf] p-5 flex flex-col items-center justify-between shadow-md rounded-lg
}

.option > p{
    @apply mt-4 text-xl w-52 text-ellipsis overflow-hidden whitespace-nowrap text-center
}

.occasion-img{
    @apply object-cover w-full h-full
}

/* DRAWER */
.preview-drawer-div::-webkit-scrollbar {
  width: 8px;
}

.preview-drawer-div::-webkit-scrollbar-track {
  display: none;
}

.preview-drawer-div::-webkit-scrollbar-thumb {
  background-color: rgb(199, 198, 198);
  border-radius: 100px;   
}

#drawer {
  @apply xl:h-[90vh] 2xl:h-[60vh] 
}

/* _________________ */

.gifs::-webkit-scrollbar {
    width: 8px;
}
  
.gifs::-webkit-scrollbar-track {
    display: none;
}
  
.gifs::-webkit-scrollbar-thumb {
    background-color: rgb(199, 198, 198);
    border-radius: 100px;   
}

.splashImages-container::-webkit-scrollbar {
    width: 8px;
}
  
.splashImages-container::-webkit-scrollbar-track {
    display: none;
}
  
.splashImages-container::-webkit-scrollbar-thumb {
    background-color: rgb(142, 142, 142);
    border-radius: 100px;   
} 

.board-next-button{
    @apply btn glass  hover:bg-[#2a9d8f] bg-[#2a9d8f] w-5/12 px-5 text-white rounded-lg shadow-lg text-xl font-medium
}
  
.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1; 
    width: 350px;
    top: 0; 
    right: 0;
    overflow-x: hidden; 
    padding-top: 55px; 
    transition: 0.5s;
}

.preview-posts{
  width: 400px;
}

.post-image{
  width: 100%;
  height: auto;
}

.preview-image, .preview-gif, .preview-video{
  width: 100%;
}

.image-container {
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
}

.img {
  padding: 4px;
  width: 250px;
  height: 320px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(38, 140, 128, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-button {
  transition: background-color 0.3s ease;
  color: white;
  border: 2px solid rgb(38, 140, 128);
  padding: 0px 24px;
  background-color: rgb(38, 140, 128);
  border: 2px solid white;
  font-weight: 500;
}

.overlay-button:hover{
  background-color: rgb(38, 140, 128);
  border: 2px solid white;
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container:hover .img {
  opacity: 0.7;
  border: 3px solid black;
}

.youtube-video{
  width: 100%;
  height: 200px;
}
.post-gif{
  width: 100%;
  height: 370px;
}
.unsplash-image{
  width: 100%;
  height: 370px;
}

/* DASHBOARD */

.board:hover{
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* BACKGROUND */

#previews {
  width: 100%;
  height: 100%;
  background-color: rgba(209, 250, 229);
  background-image: radial-gradient(rgb(133, 250, 190) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px
}

.p-stepper-number{
  color: white;
  background-color: #FF9669;
}
.p-stepper-title{
  font-size: 20px;
  color: black;
}
.p-stepper-toggleable-content {
  border-radius: 0.5rem
}
.p-stepper-separator{
  background-color: #FF9669;
}
.p-button {
  background-color: #FF9669;
  color: white;
  padding:  5px 10px;
}
.p-stepper-panel:last-child{
  display: none;
}

.occasion-title {
  background: linear-gradient(to right, hsl(0, 0%, 100%) 5%, rgb(7, 235, 204) 10%, hsl(0, 0%, 100%) 5%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
.options-button-for-small-in-user-dashboard{
  display: none;
}
.css-1b00oyk-MuiLinearProgress-root.MuiLinearProgress-colorPrimary{
    background-color: #facdb9 !important;
}

@media screen and (max-width:490px) {
    .view-board-button-for-extra-small-in-user-dashboard{
        display: none;
      }
    .options-button-for-small-in-user-dashboard{
        display: block;
      }
      
}
@media screen and (max-width:850px) {
    .post-image, .preview-posts{
        width: 300px;
      }
      .message > p{
        font-size: 14px;
      }
}

@media screen and (max-width:650px) {
  .post-image, .preview-posts{
      width: 250px;
    }
  }

@media screen and (max-width:1090px) {
    .selected-title{
      margin-top: 8rem;
    }
  }

@media screen and (max-width:1000px) {
  .selected-title{
    margin-top: 8rem;
  }
}

@media screen and (max-width:792px) {
  .selected-title{
    margin-top: 10rem;
  }
}

@media screen and (max-width:718px) {
  .selected-title{
    margin-top: 12rem;
  }
  .preview-board-create-btn{
    padding: 0px 60px;
    font-size: 20px;
  }
}

@media screen and (max-width:658px) {
  .selected-title{
    margin-top: 12rem;
  }
  .preview-board-create-btn{
    padding: 0px 60px;
    font-size: 20px;
  }
}

@media screen and (max-width:656px) {
  .selected-title{
    margin-top: 12rem;
  }
}

@media screen and (max-width:423px) {
  .selected-title{
    margin-top: 13rem;
  }
}

@media screen and (max-width:418px) {
  .selected-title{
    margin-top: 14.5rem;
  }
}
  
  

